body {
    font-family: "Fira Sans", serif;
    background-color: rgb(245, 245, 245);
}


/* Header Styles */

header {
    width: 1280px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}

.sign-in-btn {
    padding: 15px 30px 15px 30px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-size: 14px;
    font-weight: 600;
    transition: .3s;
}

.sign-in-btn:hover {
    background-color: rgb(0, 106, 80);
    color: #ffffffff;
    cursor: pointer;
}


/* Banner Styles */

.banner-section {
    display: flex;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 80px;
    margin: 40px 0px;
}

.banner-greetings {
    color: rgba(14, 14, 14, 0.5);
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-image>img {
    width: 400px;
}

.primary-btn {
    border: 1px solid rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    padding: 17px 34px 17px 34px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    transition: .3s;
}

.primary-btn:hover {
    background: transparent;
    border: 1px solid rgb(0, 106, 80);
    color: black;
    cursor: pointer;
}